.react-app {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;

    background-color: #ce9066;
}

// loader

.lds-facebook {
  /* change color here */
  color: #a8a8a8;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  scale: 0.6;

  div {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: currentColor;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

    &:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }

    &:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }

    &:nth-child(3) {
      left: 56px;
      animation-delay: 0s;
    }
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

// dialogue

.dialogue-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  .dialogue {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      background-color: #eee;
      padding: 16px;
      width: 100%;
      text-align: center;
    }

    .recipe-row {
      display: flex;
      gap: 24px;
      padding: 24px;
    }
  }
}

code {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px 2px;
  margin: 0 2px;
}

// search

.search {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 70px;

  .search-box {
    position: relative;
    width: 300px;

    input {
      width: 100%;
      padding: 5px 6px;
    }

    .autofill {
      position: absolute;
      z-index: 10;
      background-color: white;
      width: 100%;

      -webkit-box-shadow:0px 10px 39px 10px rgba(62,66,66,0.08);
      -moz-box-shadow: 0px 10px 39px 10px rgba(62,66,66,0.08);
      box-shadow: 0px 10px 39px 10px rgba(62,66,66,0.08);
      
      .result {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 8px;
        cursor: pointer;

        &:hover {
          background-color: #ccc;
        }

        img, .image-placeholder {
          width: 35px;
        }
      }
    }
  }

  input[type=number] {
    -moz-appearance: textfield;
    width: 50px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    padding: 5px 6px;
    text-align: center;
  }

  button {
    background-color: #d0d1d5;
    border: 1px solid #e4e5e7;
    font-family: 'Minecraft';
    color: #1d1e22;
    position: relative;
    cursor: pointer;

    &:hover {
      filter: brightness(1.05)
    }

    // bottom piece for depth
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      bottom: -3px;
      border-bottom: 2px solid #555658;
    }

    // overall black border
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -4px;
      border: 1px solid #1e201f;
    }

    &:active {
      transform: translate(0, 2px);

      &:before {
        display: none;
      }
  
      // overall black border
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border: 1px solid #1e201f;
      }
    }
  }
}

.input-container {
  border: 2px solid #1e1e20;

  input {
    font-family: 'Minecraft';
    outline: none;
    color: white;
    background-color: #323234;
    border: none;
    border-top: 3px solid #242426;
  }
}

// tree

$border-width: 1px;
$reverse: false;

$border-color: rgba(0,0,0,0.35);

ul {
  position: relative;
  padding: 1em 0; 
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

li {
  display: inline-block; // need white-space fix
  vertical-align: top;
  text-align: center;
	list-style-type: none;
	position: relative;
	padding: 1em .5em 0 .5em;

  &::before,
  &::after {
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: $border-width solid $border-color;
    width: 50%; 
    height: 1em;
  }
  &::after {
    right: auto; 
    left: 50%;
	  border-left: $border-width solid $border-color;
  }
  &:first-child::before,
  &:last-child::after {
    border: 0 none;
  }
  &:last-child::before{
    border-right: $border-width solid $border-color;
    border-radius: 0 5px 0 0;
  }
  &:first-child::after{
    border-radius: 5px 0 0 0;
  }
  &:only-child::after {
    border-radius: 0;
    border-left: $border-width solid $border-color;
  }
  &:only-child::before {
    border-radius: 0;
    border: none;
  }
  &.top-level::before,
  &.top-level::after {
    display: none;
  }
}

ul ul::before{
	content: '';
	position: absolute; 
  top: 0; 
  left: 50%;
	border-left: $border-width solid $border-color;
	width: 0; 
  height: 1em;
}

li div {
	padding: .5em .75em;
	text-decoration: none;
	display: inline-flex;
	border-radius: 5px;
  color: #333;
  position: relative;
  top: $border-width;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  
  font-family: 'Minecraft';
  font-size: 14pt;

  width: 81px;
  height: 108px; 

  background-image: url("/public/item-bg.png");
  background-size: cover;

  border: none;

  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

li > div > * {
  pointer-events: none;
}

.crafting-grid {
  width: 150px;
  aspect-ratio: 1;

  position: absolute;
  transform: translate(0, -100%);

  z-index: 100;

  pointer-events: none;
}

.inline-crafting-grid {
  position: relative;
  width: 150px;
  aspect-ratio: 1;
  
  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-template-rows: repeat(3, 35px);
  padding: 17px;
  gap: 5px;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 101;

  img {
    width: 35px;
    aspect-ratio: 1;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 150px;
  aspect-ratio: 1;
}